In [1]:
import pandas as pd

edges_pred = pd.read_csv("./predicted_edges_14_2.csv")
edges_true = pd.read_csv("./true_edges.csv")
all_edges = pd.read_csv("./data/alpha_0.35_beta_0.9_gamma_0.35_f_i_1_16_days.csv")

In [34]:
df_combined = pd.merge(edges_pred, edges_true, on=['0','1'], how='outer', indicator='Exist')
# print(df_combined)
df_combined["Pred"]=""
df_combined["True"]=""
df_combined["Labels"]=""
# pred = df_combined["Exist"]=="left_only"

for idx, row in enumerate(df_combined.iterrows()):
    # if(idx<5):
        # print(row)
        # print(row[1][2])
    if(row[1][2]=="left_only"):
        df_combined["Labels"][idx]="Pred"
        df_combined["Pred"][idx]=1
    if(row[1][2]=="right_only"):
        df_combined["Labels"][idx]="True"
        df_combined["True"][idx]=1
    if(row[1][2]=="both"):
        df_combined["Labels"][idx]="Both"
        df_combined["True"][idx]=1   
        df_combined["Pred"][idx]=1
print(df_combined)

/tmp/ipykernel_1994/3308126861.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["Labels"][idx]="Pred"
/tmp/ipykernel_1994/3308126861.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["Pred"][idx]=1
/tmp/ipykernel_1994/3308126861.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["Labels"][idx]="Both"
/tmp/ipykernel_1994/3308126861.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["True"][idx]=1
/tmp/ipykernel_1994/3308126861.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["Pred"][idx]=1

          0      1       Exist Pred True Labels
0        52  21747   left_only    1        Pred
1        59  19985   left_only    1        Pred
2        62  31783   left_only    1        Pred
3        63  17527   left_only    1        Pred
4        69  18344   left_only    1        Pred
...     ...    ...         ...  ...  ...    ...
4671  32509  18080  right_only         1   True
4672  33596  14421  right_only         1   True
4673  33629  12174  right_only         1   True
4674  33746  24173  right_only         1   True
4675  34067   7576  right_only         1   True

[4676 rows x 6 columns]

/tmp/ipykernel_1994/3308126861.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["Labels"][idx]="True"
/tmp/ipykernel_1994/3308126861.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_combined["True"][idx]=1

In [5]:
print(edges_true.shape)
print(edges_pred.shape)

(429, 2)
(4480, 2)

In [ ]:
df_combined["Label"]=""
for row in iterrows()

In [35]:
df_combined.to_csv("./predicted_vs_true_14.csv",index=False)

In [35]:
# print(all_edges)
df2 = all_edges.iloc[:,0:2]

         0.0  0.0.1  0.0.2  0.0.3
0      30216   7611      1      1
1      30216   8550      1      1
2      25447   8550      1      1
3       4191   8550      1      1
4       1588   8550      1      1
...      ...    ...    ...    ...
39290  12865   6144      1     16
39291  25694   6144      1     16
39292  20727  10846      1     16
39293  31955  23268      1     16
39294  27172  23268      1     16

[39295 rows x 4 columns]

     Source  Target
0       280   16980
1       280   31715
2       654   15270
3       654   25567
4       654   29566
..      ...     ...
424   34189   23850
425   34468   17374
426   34468   29813
427   34707   23850
428   34707   24937

[429 rows x 2 columns]

In [28]:
# day_14_edges = all_edges.loc[all_edges['0.0.3'] == 14].iloc[:,0:2].copy()
# day_14_edges_sorted = day_14_edges.sort_values(day_14_edges.columns[0], ascending = True)
# # day_14_edges_sorted.reset_index(inplace=True)
# day_14_edges_sorted.rename(columns={"0.0": "Source", "0.0.1": "Target"})

       Source  Target
37838     280   16980
38137     280   31715
38002     654   29566
38111     654   25567
38061     654   15270
...       ...     ...
37930   34189   23850
37868   34468   17374
38019   34468   29813
37929   34707   23850
37753   34707   24937

[429 rows x 2 columns]

In [ ]:
df_combined = day_14_edges_sorted

In [11]:
df_new = pd.concat([edges_true, day_14_edges_sorted, day_14_edges_sorted]).drop_duplicates(keep=False)

In [12]:
df_new.shape

(429, 5)

In [3]:
edges_true[~edges_true.isin(day_14_edges)].dropna()

         0      1
0       44   9394
1       44  15392
2      118   2705
3      280  22683
4      434  24722
..     ...    ...
563  34468   7035
564  34468  20151
565  34547   3916
566  34919   9375
567  34919  18302

[568 rows x 2 columns]

In [15]:
all_edges = pd.read_csv("./data/alpha_0.35_beta_0.9_gamma_0.35_f_i_1_16_days.csv")